@charset "utf-8";

#header{
	width:950px;
	height:140px;
	margin:0;
	padding:0;
	background-image:url('/mark/img/logo.gif'); /* replace with new logo */
	background-repeat:no-repeat;
	background-position:15px 8px;
	}
	#mini_nav{
		float:right;
		border:1px solid #222;
		border-top:0px;
		}
		#mini_nav a{
			margin:3px 0 0 0;
			padding:7px 15px 5px 15px;
			background-color:#555;
			font-size:10px;
			color:#aaa;
			text-decoration:none;
			line-height:21px;
			}
		#mini_nav a:hover{
			background-color:#333;
			color:#eee;
			}
		#mini_nav a.selected
			{
			color:#222;
			background-color:#abcdef;
			}
		#nav_buttons img{
			border:0;
			}
		#nav_buttons{
			float:right;
			margin:10px 10px 0 0;
			}
	#logo{
		width:480px;
		height:21px;
		margin-top:25px;
		font-size:21px;
		color:#377BAA;
		font-style:italic;
		clear:right;
		float:right;
		}
#top_nav{
	width:950px;
	height:28px;
	margin:0;
	padding:0;
	text-align:center;
	}
	#top_nav a
		{
		margin:0;
		padding:0;
		}
	#top_nav img
		{
		border:0px;
		}
#top_subnav{
	width:935px;
	height:20px;
	margin:0;
	padding:3px 0 0 15px;
	background:url('../img/tab/subnavbg.gif');
	background-repeat:repeat-x;
	color:#eee;
	}
	#top_subnavx{
		width:950px;
		height:5px;
		margin:0;
		padding:0;
		background:url('http://theroofjob.com/img/tab/subnavbg.gif');
		background-repeat:repeat-x;
		}
	#top_subnav a
		{
		margin:0 1px;
		padding:2px 10px;
		color:#eee;
		font-size:12px;
		line-height:16px;
		text-decoration:none;
	background:url('subnavbg.gif');
		}
	#top_subnav a:hover
		{
		color:#fff;
		text-decoration:underline;
		}
	#top_subnav a.selected
		{
		font-weight:bold;
		color:#fff;
		}
#top_content{
	width:918px;
	height:300px;
	margin:0;
	padding:0 15px;
	overflow:hidden;
	border:1px solid #666;
	border-bottom:0px;
	background-color:#DCECF4;
	position:relative;
	}
	#top_contentx{
		width:918px;
		height:75px;
		margin:0;
		padding:0 15px;
		overflow:hidden;
		border:1px solid #666;
		border-bottom:0px;
		background-color:#DCECF4;
		position:relative;
		}
#top_foot{
	width:950px;
	height:10px;
	margin:0 0 15px 0;
	padding:0;
	position:relative;
	background-image:url('http://theroofjob.com/img/minifoot.gif');
	background-repeat:none;
	}
#bot_nav{
	width:950px;
	height:28px;
	margin:0;
	padding:0;
	text-align:center;
	}
	#bot_nav a
		{
		margin:0;
		padding:0;
		}
	#bot_nav img
		{
		border:0px;
		}
#bot_subnav{
	width:935px;
	height:20px;
	margin:0;
	padding:3px 0 0 15px;
	background:url('http://theroofjob.com/img/tab/subnavbg.gif');
	background-repeat:repeat-x;
	}
	#bot_subnavx{
		width:950px;
		height:5px;
		margin:0;
		padding:0;
		background:url('http://theroofjob.com/img/tab/subnavbg.gif');
		background-repeat:repeat-x;
		}
	#bot_subnav a
		{
		margin:0 1px;
		padding:2px 10px;
		color:#eee;
		font-size:12px;
		line-height:16px;
		text-decoration:none;
		}
	#bot_subnav a:hover
		{
		text-decoration:underline;
		color:#fff;
		}
	#bot_subnav a.selected
		{
		font-weight:bold;
		color:#fff;
		}
#bot_content{
	width:918px;
	min-height:300px;
	margin:0;
	padding:0 15px 40px 15px;
	overflow:hidden;
	border:1px solid #666;
	border-bottom:0px;
	background-color:#DCECF4;
	position:relative;
	}
	#bot_content h1{
		font-size:18px;
		}
#bot_foot{
	width:950px;
	height:10px;
	margin:0 0 15px 0;
	padding:0;
	background-image:url('http://theroofjob.com/img/minifoot.gif');
	background-repeat:none;
	}
#footer{
	width:950px;
	height:100px;
	margin:0;
	padding:0;
	}
	#footer div{
		width:950px;
		}
	#footer p.left{
		float:left;
		width:450px;
		height:20px;
		margin:0;
		padding:0;
		display:block;
		text-align:left;
		}
	#footer p.right{
		float:left;
		width:450px;
		height:20px;
		margin:0;
		padding:0;
		text-align:right;
		color:#333;
		display:block;
		font-size:12px;
		}
	#footer p.center{
		width:950px;
		float:left;
		height:20px;
		margin:10px 0;
		text-align:center;
		}
	#footer a{
		margin:0;
		padding:7px 15px 5px 15px;
		font-size:11px;
		color:#666;
		text-decoration:none;
		}
	#footer a:hover{
		color:#333;
		text-decoration:underline;
		}
		
#bio_container{
	display:none;
	}
	#bio {
		margin-top:5px;
		}
	#bio img{
		float:right;
		border:1px solid #333;
		margin:0 0 5px 10px;
		}
	#bio_nav{
		padding:3px 10px 10px 10px;
		}
	#bio_nav a{
		color:#1D77B8;
		text-decoration:underline;
		font-size:14px;
		padding:3px 8px;
		}
	#bio_nav a:hover{
		text-decoration:none;
		color:#111;
		cursor:pointer;
		background-color:#abcdef;
		}
#meetdate
	{
	float:left;
	clear:right;
	margin:10px 0;
	padding:10px 10px;
	width:898px;
	}
div.meetdate_container
	{
	float:left;
	background-color:#fff;
	height:125px;
	margin:0 5px;
	width:75px;
	}
div.meetdate_day
	{
	float:left;
	padding:2px 5px;
	background-color:#abcdef;
	width:65px;
	}
div.meetdate_hours
	{
	margin-top:8px;
	float:left;
	width:75px;
	text-align:center;
	}
div.meetdate_hours a{
	padding:1px 10px;
	}
div.meetdate_hours a:hover
	{
	background-color:#cadfed;
	cursor:pointer;
	}
img.std{
	border:1px solid #222;
	float:right;
	margin:15px 0 15px 10px;
	}
img.stdl{
	border:1px solid #222;
	float:left;
	margin:15px 10px 0 0;
	}
.youtube{
	width:344px;
	float:left;
	margin:15px 20px 0 0;
	border:1px solid #333;
	}